{
    "svr_id": {{ busid_int }},
    "tbus2_agent_url": "{{ tbus2_agent_url }}",
    "ds_listen_port": 19000,
    "ds_port_start": 20000,
    "ds_port_end": 20099,
    "ds_client_ip": "{{ local_ip }}",
    "ds_exec_path": "{{ ds_exec_path }}",
    "ds_type": "ue_ds",
    "ds_map": "/Game/DrawHammer/Map/LivingRoom/Lvl_LivingRoom_BattleMap"
}
